@use "./abstracts/variables/fonts";
@use "./abstracts/variables/colors";

body {
  font-family: fonts.$font-family;
  height: 100vh;
  background-color: colors.$very-light-grayish-blue;
}
.app-wrapper {
  padding: 0.5em;

  .attribution {
    margin: 4em auto 0;
    font-size: 11px;
    text-align: center;
    a {
      color: colors.$link-blue;
    }
  }
}
